img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    border:solid #674EA7;
}
button {
    width: 100px;
    background-color: #674EA7;
    border-radius: 5px;
    padding:5px;
    color:white;
    
}

.header {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap:16px;
    padding:5px;
}
h1 {
    margin:0px;
}
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:0px;
    
}
p {
    font-size: 18px;
    margin:0px;
    width: 500px;  
    color:#0d0d0d;
    width:400px;
    
    
}
.container {
    background-color: #9891ac;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 50px;
}
.rest {
    padding-right: 400px;
    padding-left: 400px;
}

.top {
     background-color: #9891ac;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.awesome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    gap:15px;
}
.bird {
    width: 500px;
    height: 250px;
    border: solid #674EA7;
    border-radius: 0px;
}
.pics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    padding:25px;
}
