img {
    width: 300px;
    height: 250px;
}
button {
    width: 100px;
    background-color: #674EA7;
    border-radius: 5px;
    
}

.header {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap:16px;
    padding:5px;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0px;
    
}
p {
    font-size: 18px;
    width: 500px;
}
.container {
    background-color: #9891ac;
    padding-left: 200px;
    padding-right: 200px;
}

.top {
     background-color: #9891ac;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.awesome {
    background-color: #9891ac;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.birds {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    
}